@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
*{
    margin: 0;
    font-family: "Comic Neue", cursive;
    font-weight: 400;
    font-style: normal;
}
.divhead1{
    display: flex;
    align-items: center;
    gap: 25px;
}
.divhead2{
    display: flex;
    gap: 20px;

}
.btn1{
    width: 145px;
    height: 52px;
    border: none;
    background-color: white;
    color: black;
}
.btn2{
    width: 145px;
    height: 52px;
    border: none;
    background-color: #151515;
    color: white;
}
.sec1{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap:40%;
    margin-top: 20px;
}
.divhead3{
    display: none; 
}
.sec2{
    width: 90%;
    height: 580px;
    margin: auto;
    margin-top: 120px;  
    display: flex;
    align-items: center;
    justify-content: center;
}
.pAlways{
    font-size: 60px;
    font-weight: 400;
    width: 87%;
}
.sec2part1{
    width: 50%;
    height: 580px;
}
.sec2part2{
    width: 50%;
    height: 580px;
}
.sec3part2{
    width: 50%;
    height: 580px;
}
.imgsec2part2{
    width: 100%;
    height: 100%;
}
.imgsec3part1{
    width: 100%;
    height: 100%;
}
.sec3part1{
    width: 50%;
    height: 580px;
}

.pabetter{
    font-size: 18px;
    font-weight: 400;
    color: #151515;
    width: 70%;
    margin-top: 30px;
}
.diventer{
    margin-top: 40px;
    width: 70%;
    background-color: #ffffff;
    display: flex;
    height: 40px;
}
.divEnter2{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    height: 98%;
    border: 1px solid gray;
}
.inputEnter{
    border: none;
}
.btnGet{
    width: 40%;
    border: none;
    height: 100%;
    color: white;
    background-color: black;
}
.logos{
    display: flex;
    align-items: center;
    margin-top: 50px;
    gap: 20px;
}
.sec3{
    width: 90%;
    height: 580px;
    margin: auto;
    margin-top: 120px;  
    display: flex;
    align-items: center;
    justify-content: center;
}
.btnABOUT{
    width: 108px;
    height: 36px;
    font-size: 14px;
    font-weight: 600;
    background-color: #ffffff09;
}
.pFaster{
    font-size:  50px;
    font-weight: 400;
    width: 90%;
    margin-top: 20px;
}
.pAdd{
    width: 85%;
    font-size: 18px;
    margin-top: 40px;
}
.divShared{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}
.divShared1{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 40px;
}
.sec4{
    width: 90%;
    height: 908px;
    display: flex;
    margin: auto;
    align-items: center;
    margin-top: 150px;
    gap: 50px;

}
.sec4part1{
    width: 55%;
    height: 100%;
}
.sec4part2{
    width: 45%;
    height: 100%;
}
.btnHow{
    width: 155px;
    height: 36px;
    font-size: 14px;
    font-weight: 600;
    background-color: #ffffff09;
}
.pBuilding{
    font-size: 60px;
    font-weight: 400;
    width: 90%;
    margin-top: 30px;
}
.pShared2{
    font-size: 28px;
    font-weight: 400;

}
.pNavigate{
    font-size: 18px;
    font-weight: 400;
    width: 55%;

}
.div4x{
    width: 100%;
    display: flex;
    gap: 20px;
    margin-top: 30px;
   
}
.imgsec4part2{
    width: 100%;
    height: 100%;
}
.sec5{
    width: 90%;
    height: 500px;
    display: flex;
    margin: auto;
    gap: 50px;
    margin-top: 100px;

}
.imgsec5part1{
    width: 100%;
    height: 100%;
}
.sec5part1{
    width: 40%;
    height: 100%;
}
.sec5part2{
    width: 60%;
    height: 100%;
   
    
}
.btnsec5part2{
    width: 120px;
    height: 35px;
    background-color: white;
    color: black;
    border: 1px solid black;
    font-weight: 600;
    margin-top: 100px;
   
}
.divbtnsec5part2{
    display: flex;
    justify-content: end;
}
.pSelect{
    font-weight: 400;
    font-size: 60px;
    margin-top: 20px;
    width: 100%;
    text-align: end;
}
.pPrices{
    font-size: 18px;
    font-weight: 400;
    text-align: end;
    margin-top: 30px;
    
}
.pPrices1{
    font-size: 18px;
    font-weight: 400;
    text-align: end;
    margin-top: 5px;
    
}
.sec6{
    width: 90%;
    height: 480px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
}
.sec6part1{
    width: 25%;
    height: 100%;
   
    padding: 15px;
    border: 1px solid black;
}
.pdol{
    font-size: 20px;
    font-weight: 800;
    margin-top: 10px;

}
.p49{
    font-size: 80px;
    font-weight: 800;
   
}
.p3x{
    width: 80%;
    display: flex;
   
}
.per{
    margin-top: 55px;
}
.pApay{
    font-size: 20px;
    font-weight: 400;
    margin-top: 20px;
}
.divThe{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}
.divThe1{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 40px;
}
.btnJoin{
    width: 320px;
    height: 35px;
    background-color: black;
    color: white;
    border: 1px solid black;
    font-weight: 600;
    margin-top: 100px;

}
.lol{
    color: white;
}
.kok{
    background-color: black;
}
.l1{
    background-color: #fff;
    color: black;
}
@media (max-width:510px){
    .sec6part1{
        width: 90%;

    }
    .sec6{
        flex-direction: column;
        gap: 30px;
    }
    .pSelect{
        text-align: start;
    }
    .divbtnsec5part2{
        justify-content: start;
    }
    .pPrices{
         text-align: start;
    }
    .pPrices1{
         text-align: start;
    }
    .sec5part1{
        width: 100%;

    }
    .sec5part2{
        width: 100%;

    }
    .sec5{
        margin-top: 1200px;
        flex-direction: column-reverse;
    }
    .sec4part2{
        width: 90%;

    }
    .pNavigate{
        width: 80%;
    }
    .pBuilding{
        width: 100%;
    }
    .sec4part1{
        width: 100%;
    }
    .sec4{
        flex-direction: column;
        margin-top: 350px;
        gap: 350px;
    }
    .pFaster{
        width: 100%;
    }
    .sec2part2{
        width: 98%;
    }
    .sec3part2{
        width: 98%;
    }
    .logos{
        width: 100%;
        gap: 30px;
    }
    .diventer{
        width: 100%;
    }
    .pAlways{
        width: 100%;
        font-size: 28px;
    }
    .pabetter{
        width:100%;
    }
    .sec2part1{
        width: 100%;
    }
    .sec3part1{
        width: 100%;
    }
    .sec2{
        margin-top: 150px;
        flex-direction:column;
        gap: 100px;
    }
    .sec3{
        margin-top: 450px;
        flex-direction: column-reverse;
        gap: 150px;
        
    }

    .divhead3{
        display: block;
        display: flex;
        align-items: center;
        gap: 270px; 
    }
    .divhead1{
        display: none;
    }
     .divhead2{
        display: none;
    }



    
}