@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
*{
    margin: 0;
    font-family: "Comic Neue", cursive;
    font-weight: 400;
    font-style: normal;
}
.divhead1{
    display: flex;
    align-items: center;
    gap: 25px;
}
.divhead2{
    display: flex;
    gap: 20px;

}
.btn1{
    width: 145px;
    height: 52px;
    border: none;
    background-color: white;
    color: black;
}
.btn2{
    width: 145px;
    height: 52px;
    border: none;
    background-color: #151515;
    color: white;
}
.sec1{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap:40%;
    margin-top: 20px;
}
.divhead3{
    display: none; 
}
.sec2{
    width: 90%;
    height: 580px;
    margin: auto;
    margin-top: 120px;  
    display: flex;
    align-items: center;
    justify-content: center;
}
.pAlways{
    font-size: 60px;
    font-weight: 400;
    width: 87%;
}
.sec2part1{
    width: 50%;
    height: 580px;
}
.sec2part2{
    width: 50%;
    height: 580px;
}
.imgsec2part2{
    width: 100%;
    height: 100%;

}
.pabetter{
    font-size: 18px;
    font-weight: 400;
    color: #151515;
    width: 70%;
    margin-top: 30px;
}
.diventer{
    margin-top: 40px;
    width: 70%;
    background-color: #ffffff;
    display: flex;
    height: 40px;
}
.divEnter2{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    height: 98%;
    border: 1px solid gray;
}
.inputEnter{
    border: none;
}
.btnGet{
    width: 40%;
    border: none;
    height: 100%;
    color: white;
    background-color: black;
}
.logos{
    display: flex;
    align-items: center;
    margin-top: 50px;
    gap: 20px;
}
@media (max-width:510px){
    .sec2part2{
        width: 98%;
    }
    .logos{
        width: 100%;
        gap: 30px;
    }
    .diventer{
        width: 100%;
    }
    .pAlways{
        width: 100%;
        font-size: 28px;
    }
    .pabetter{
        width:100%;
    }
    .sec2part1{
        width: 100%;
    }
    .sec2{
        margin-top: 150px;
        flex-direction: column;
        gap: 100px;
    }

    .divhead3{
        display: block;
        display: flex;
        align-items: center;
        gap: 200px; 
    }
    .divhead1{
        display: none;
    }
     .divhead2{
        display: none;
    }



    
}